<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
    <meta charset="UTF-8">
    <title>pureLiFi Demo Page</title>
<body>
    <h1 style="text-align:center;">Part of the pureLiFi Demo</h1>
    <p style="text-align:center;">If you can see this, you're connected to the pureLiFi AP!</p>
    <div style="display: flex; justify-content: center;">
        <img src=" {{ url_for('static', filename='images/iqt.png') }}" alt="IQT" style="width: 30%; margin-right: 1%;">
        <img src=" {{ url_for('static', filename='images/purelifi.png') }}" alt="pureLiFi" style="width: 20%; margin-left: 1%;">
      </div>
    <div style="text-align: center">
        <h2> Click Below to download an example file.</h1>
    <a href="/static/images/purelifi.png" download="purelifi_download">
        <img src="/static/images/download_button.png" alt="download" style="width: 10%; text-align:center;">
    </a>
    </div>
    <p style="text-align:center;">While in this area of effect (AOE) of the AP, you can download files and interact with
        this page. If you are not, this entire page is inaccessible to you.
    </p>
</body>
</html>

